.cart-container {
  display: flex;
  gap: 5rem;
}

.cart-products {
  width: 50%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.cart-products .cart-product {
  display: flex;
  align-items: center;
  width: 40rem;
  padding: 1rem;
  gap: 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
}

.cart-img {
  width: 10rem;
  height: 10rem;
  max-width: 100%;
}

.product-description {
  font-size: small;
}

.product-quantity {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.6rem;
}
.product-quantity button {
  padding: 0.6rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-basic);
}

.product-quantity input {
  width: 2rem;
  text-align: center;
  margin: 0 0.6rem;
}

.product-card-heart {
  display: flex;
  justify-content: space-between;
}

.product-card-heart .product-bin {
  width: 1.5rem;
}

/* price-card-details */
.cart-priceCard {
  align-self: flex-start;
  border: 3px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.cart-priceCard .cart-primaryDetails {
  display: flex;
  flex-direction: column;
}

.cart-primaryDetails .primary-unit {
  display: flex;
  justify-content: space-between;
  line-height: 0.5rem;
}

.details-main {
  display: flex;
  flex-direction: column;
}

.cart-title {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  align-items: center;
  margin-top: 5rem;
}

.cartBadge-container {
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  right: -0.7em;
  top: -0.7em;
  min-width: 1.6em;
  height: 1.6em;
  border-radius: 0.8em;
  border: 0.05em solid white;
  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: white;
}

.empty-cart {
  width: 30rem;
}

@media screen and (max-width: 750px) {
  .cart-container {
    flex-direction: column;
  }
  .cart-products {
    order: 2;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .cart-products .cart-product {
    width: 15rem;
    flex-direction: column;
  }
  .product-quantity {
    justify-content: center;
    width: 100%;
  }
  .cart-priceCard {
    order: 1;
  }
  .cart-title {
    font-size: x-large;
  }
}
